/*Haupt styles*/
body {
font-family: 'Source Code Pro', monospace;
  margin: 0px;

}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/*navigation styles*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}
.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link{
  border-bottom: 1px solid black;
}

.active-nav-link a{
  color: black!important;
}

/*Portfolio styles*/

.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
  position: relative;
}

.portfolio-img-backround{
  height: 350px;
  width: 100%
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio-img-text-wrapper{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%
  text-align:center;
  padding-left: 100px;
  padding-right: 100px;
}


.logo-wrapper img {
  width: 100%;
  margin-bottom: 20px;
align-items: center;
}

.portfolio-img-text-wrapper:hover .subtitle{
  font-weight: 600;
  color: white;
}

.portfolio-img-text-wrapper .subtitle{
  font-weight: 600;
  transition: 1s;
  color: transparent;

}

.img-darken{
  transition: 1s;
  filter: brightness(10%);
}
/*about page styles*/
.two-column-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.profile-img-wrapper img{
  width: 100%;
}
.profile-content-wrapper{
  padding: 30px;
}

.profile-content-wrapper h1{
  color: black;
}

.project-items-wrapper{
  display: grid;
  grid-template-columns: 1fr;
}
.project-item-wrapper-1{
  background-color: #689f38;
}
.project-item-wrapper-2{
  background-color: #c66900;
}

.project-item-wrapper-3{
  background-color: #387002;
}
.project-item-wrapper-4{
  background-color: #99d066;
}

.project-item-wrapper-5{
  background-color: #ffc947;
}

.project-item-wrapper-6{
  background-color: #ff9800;
}

details summary ~ * {
  transition: 1s;
 animation: sweep .5s ease-in-out;
}
details{
  transition: height 1s ease;
}

@keyframes sweep {
 0%    {opacity: 0; margin-left: -10px}
 100%  {opacity: 1; margin-left: 0px}
}


summary::-webkit-details-marker {
  display: none;
}
summary:before {
  content: "+"; /* Verwendung des "plus"-Symbols anstelle des Dreiecks */
  color: white;
  margin-left: 5px;
  font-weight: 600;
  font-size: 20px;
  transition: 1s;
}
summary{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}



#accordion div {
   background-color: #b2ce8f;
   height:50px;
   transition: height 1s ease-in-out;
   font-size: 20px;
   font-weight: 600;
}

#accordion div:hover {
   background-color: #efd070;
   height: 140px;
}
